
.artifacts-table {
	width: 90%;
	height: 80%;
	&__info {
		color: #2c2c2c;
		font-size: 20px;
		font-weight: bold;
		opacity: 0.6;
		text-align: left;
		margin-left: 50px;
		margin-bottom: 38px;
		&__dop {
			font-size: 15px;
			font-weight: 500;
		}
	}
	&__indikators {
			display: flex;
			justify-content: space-around;
			margin: 0 30px;
		&__item {
			color: red;
			color: #cad5da;
			font-weight: Bold;
			&__artifacts, &__contributors, &__keywords, &__total-citations, &__proof-of-existence {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				font-size: 14px;
				margin-bottom: 15px;
			}
			&__artifacts {
				width: 30%;
				margin-left: 20px;
			}
			&__contributors {
				width: 25%;
			}
			&__keywords {
				width: 15%;
			}
			&__total-citations {
				width: 15%;
			}
			&__proof-of-existence {
				width: 15%;
			}
		}
	}
	&__main {
		width: 100%;
		height: 100%;
		overflow-y: auto;

		&__line {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100px;
		margin: 15px 30px;
		box-shadow: 0  0 40px #cad5da;
		text-align: left;

			&__artfs {
				width: 30%;
				margin-left: 20px;
				color: #2c2c2c;
				font-weight: 600;
				font-size: 14px;
				&__dop {
					color: #7b8180;
					font-size: 12px;
					font-weight: 500;
				}
			}
			&__contr {
				width: 25%;
				font-size: 12px;
				padding-right: 60px;
				color: #7b8180;
			}
			&__keyw {
				& span {
					background: #7b818040;
					color: #5f6362;
					padding: 5px;
					border-radius: 20px;
					margin: 3px;
					display: inline-block;
					font-size: 11px;
					font-weight: 600;
					align-items: center;
				}
				width: 15%;
			}
			&__cit {
				width: 15%;
				color: #4facfe;
				font-size: 16px;
				font-style: Roboto;
				line-height: 20px;
				font-weight: Bold;
			}
			&__prof {
				width: 15%;
			}
			&__cit, &__prof {
				text-align: center;
			}
		}
	}
}

//DELETE
.table-arrow {
	width: 20px;
	height: 20px;
	display: block;
	background: gray;
	margin-left: 10px;
}
