.profile-preview {
  width: $widthProfilePreview;
  height: $heightProfilePreview;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: $alignItemsProfilePreview;

  .container-scale {
    position: relative;
  }

  .img-wrapper {
    border-radius: $borderRadiusProfilePreviewImageWrapper;
    background-color: $backgroundColorProfilePreviewImageWrapper;
    overflow: hidden;
  }

  .profile-preview__img {
    height: $heightProfilePreviewImage;
    width: $widthProfilePreviewImage;
  }
  .profile-preview__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $widthProfilePreviewIcon;
    height: $heightProfilePreviewIcon;
    border-radius: $borderRadiusProfilePreviewIcon;
    background: $backgroundProfilePreviewIcon;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .profile-preview__name {
    padding: 0;
    margin: 0;
    font-family: $fontFamilyProfilePreviewName;
    font-weight: $fontWeightProfilePreviewName;
    font-size: $fontSizeProfilePreviewName;
    text-transform: $textTransformProfilePreviewName;
  }
}

.profile-preview_minimized {
  .profile-preview__img {
    height: $heightProfilePreviewImageMinimized;
    width: $widthProfilePreviewImageMinimized;
  }
  .profile-preview__icon {
    width: $widthProfilePreviewIconMinimized;
    height: $heightProfilePreviewIconMinimized;
  }
}
