.btn{
  text-decoration: none;
  color:black;
  border: none;
  outline: none;
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  cursor: pointer;

  &-community{
    background-image: linear-gradient(180deg, #03EFFE, #4FACFE);
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 700;
  }
  &-documents{
    background-image: linear-gradient(180deg, #03EFFE, #4FACFE);
    color: white;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 700;
  }
  &-close{
    font-family: Arial, sans-serif;
    color:white;
    font-weight: 400;
    font-size: 2.2rem;
    background-color: transparent;
    height: 100%;
    position: absolute;
    left: 1rem;
    top: 0;
  }

  &-burger{
    height: 100%;
    position: absolute;
    left: 1rem;
    top: 0;
  }

  &-search{
    background-image: linear-gradient(180deg, #03EFFE, #4FACFE);
    color: white;
    padding: 1rem;
    border-radius: 0 5px 5px 0;
    font-size: 2.5rem;
    font-weight: 700;
    height: 100%;
    
    .search-icon{
      fill: #fff;
      margin-right:0.5rem; 
    }
  }
}

.btn[disabled] {
  opacity: .5;
  cursor: not-allowed;
}
.btn-group > .btn:first-child {
  border-radius: 5px 0 0 5px;
  border: 1px solid #CAD5DA;
  padding: 0.1rem 1.5rem;
  border-right: 0; 
  
}
.btn-group > .btn:last-child {
  border-radius: 0 5px 5px 0;
  border: 1px solid #CAD5DA;
  padding: 0.1rem 1.5rem;
  border-left: 0; 

}

.btn-group {
  display: inline-block;
  flex-wrap: nowrap;

  .btn{
    color: #7B8180;
    background: none;
  }
  .btn.active {
    background-image: linear-gradient(180deg, #4FACFE, #03EFFE);
    color: white;
    font-weight: 600;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    border: none;  
  }
}
.logout-btn {
  width: 100%;
  background: none;
  color: rgba(255, 255, 255, 0.15);
  text-transform: uppercase;
  border: none;
  border-top: 1px solid #51726f;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 1rem 0 1rem;
  outline: none;

  &:hover {
    cursor: pointer;
    color: #37a5cf;
  }

  &:active {
    box-shadow: inset 0 0 5px #51726f;
  }
}
