.calendar-wrapper {
  display: inline-block;
  position: absolute;
  padding: $paddingCalendarWrapper;
  border-radius: $borderRadiusCalendarWrapper;
  background-color: $backgroundColorCalendarWrapper;
  border: $borderCalendarWrapper;
  top: $topRadiusCalendarWrapper;
  right: $rightRadiusCalendarWrapper;
  user-select: none;
  z-index: $zIndexCalendarWrapper;

  abbr {
    text-decoration: none;
  }

  .calendar-wrapper__inputs-block {
    display: flex;
    justify-content: space-between;

    .calendar-wrapper__inputs-block__input {
      outline: none;
      font-family: $fontFamilyCalendarInput;
      font-weight: $fontWeightCalendarInput;
      color: $colorCalendarInput;
      font-size: $fontSizeCalendarInput;
      max-width: $maxWidthCalendarInput;
      border: $borderCalendarInput;
      border-radius: $borderRadiusCalendarInput;
      background-color: $backgroundColorCalendarInput;
      padding: $paddingCalendarInput;

      &::placeholder {
        font-family: $fontFamilyCalendarInput;
        font-weight: $fontWeightCalendarInput;
        font-size: $fontSizeCalendarInput;
        color: $colorCalendarInput;
        opacity: $opacityCalendarInputPlaceholder;
      }
    }
  }

  .react-calendar {
    width: $widthCalendar;

    button {
      margin: 0;
      border: 0;
      outline: none;

      &:enabled {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .react-calendar__navigation {

      button {
        min-width: $minWidthCalendarNavigationButton;
        background: none;
        font-family: $fontFamilyCalendarNavigationButton;
        color: #2c2c2c;
        font-weight: 400;

        &:enabled {
          &:hover,
          &:focus {
            color: $colorCalendarNavigationButtonHover;
            cursor: pointer;
          }
        }
      }
      .react-calendar__navigation__label {
        font-size: 14px;
        padding: 25px 0;
      }

      .react-calendar__navigation__arrow {
        font-size: $fontSizeCalendarNavigationLabel;
        padding: $paddingCalendarNavigationLabel;
      }

      .react-calendar__navigation__next-button {
        padding: $paddingCalendarNavigationNextButton;
      }

      .react-calendar__navigation__prev-button {
        padding-right: $paddingCalendarNavigationPrevButton;
      }
    }

    &__month-view {
      &__weekdays {
        text-align: $textAlignCalendarWeekDays;
        text-transform: $textTransformCalendarWeekDays;
        font-weight: $fontWeightCalendarWeekDays;
        font-size: $fontSizeCalendarWeekDays;
        font-family: $fontFamilyCalendarWeekDays;
        color: $colorCalendarWeekDays;
        margin-bottom: $marginCalendarWeekDays;
      }

      &__days {
        &__day {
          font-family: $fontFamilyCalendarDays;
          font-weight: $fontWeightCalendarDays;
          font-size: $fontSizeCalendarDays;
          color: $colorCalendarDays;
        }
      }
    }

    &__tile {
      max-width: $maxWidthCalendarDays;
      text-align: $textAlignCalendarDays;
      padding: $paddingCalendarDays;
      background: none;

      &:enabled {
        &:hover,
        &:focus {
          background: $backgroundCalendarDayHover;
          border-radius: $borderRadiusCalendarDayHover;
          color: $colorCalendarDayHover;
        }
      }

      &--active {
        background: $backgroundCalendarDayActive;
        color: $colorCalendarDayActive;
      }

      &--rangeStart {
        background: $backgroundCalendarDayRangeStart;
        border-radius: $borderRadiusCalendarDayRangeStart;
      }

      &--rangeEnd {
        background: $backgroundCalendarDayRangeEnd;
        border-radius: $borderRadiusCalendarDayRangeEnd;
      }
    }

    &--selectRange {
      .react-calendar__tile {
        &--hover {
          background-color: $backgroundCalendarDayActive;
          color: $colorCalendarDayActive;
        }
      }
    }
  }
}
