.calendar-wrapper {
    display: inline-block;
    padding: 30px 30px 25px 30px;
    border-radius: 5px;
    background-color: #f4f7f8;
    border: 1px solid #cad5da;
  
    abbr {
      text-decoration: none;
    }
  
    &__inputs-block {
      display: flex;
      justify-content: space-between;
      // margin-bottom: 27px;
  
      &__input {
        outline: none;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #000000;
        font-size: 15px;
        max-width: 115px;
        border: 1px solid #cad5da;
        border-radius: 5px;
        background-color: #ffffff;
        padding: 5px 16px;
  
        &::placeholder {
          color: #000000;
          opacity: 0.3;
        }
      }
    }
  
    .react-calendar {
      width: 258px;
      max-width: 100%;
      background-color: #f4f7f8;
  
      button {
        margin: 0;
        border: 0;
        outline: none;
  
        &:enabled {
          &:hover {
            cursor: pointer;
          }
        }
      }
  
      &__navigation {
        // height: 44px;
        // margin-bottom: 1em;
  
        button {
          min-width: 44px;
          background: none;
          font-family: "Roboto", sans-serif;
          color: #2c2c2c;
          font-weight: 400;
  
          &:enabled {
            &:hover,
            &:focus {
              color: #A2E9FA;
              cursor: pointer;
            }
          }
  
          &[disabled] {
            // background-color: rgb(240, 240, 240);
          }
        }
        &__label {
          font-size: 14px;
          padding: 25px 0;
        }
  
        &__arrow {
          font-size: 20px;
          padding: 19px 0 24px 0;
        }
  
        &__next-button {
          padding-left: 20px;
        }
  
        &__prev-button {
          padding-right: 20px;
        }
      }
  
      &__month-view {
        &__weekdays {
          text-align: center;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 14px;
          font-family: "Raleway", sans-serif;
          color: #7b8180;
          margin-bottom: 5px;
  
          &__weekday {
            // padding: 0.5em;
          }
        }
  
        &__weekNumbers {
          font-weight: bold;
  
          .react-calendar__tile {
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // font-size: 0.75em;
            // padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
          }
        }
  
        &__days {
          &__day {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #7B8180;
            &--weekend {
              // color: red;
            }
  
            &--neighboringMonth {
              color: rgb(150, 150, 150);
            }
          }
        }
      }
  
      &__year-view,
      &__decade-view,
      &__century-view {
        .react-calendar__tile {
          padding: 2em 0.5em;
        }
      }
  
      &__tile {
        max-width: 100%;
        text-align: center;
        padding: 0.75em 0.5em;
        background: none;
  
        &:disabled {
          // background-color: rgb(240, 240, 240);
        }
  
        &:enabled {
          &:hover,
          &:focus {
            background: linear-gradient(#03effe, #4facfe);
            border-radius: 5px;
            color: #ffffff;
          }
        }
  
        &--hasActive {
          $bgcolor: lighten(rgb(0, 110, 220), 30%);
          background: $bgcolor;
  
          &:enabled {
            &:hover,
            &:focus {
              background: lighten($bgcolor, 10%);
            }
          }
        }
  
        &--active {
          $bgcolor: red;
          background: #A2E9FA;
          color: white;
  
          &:enabled {
            &:hover,
            &:focus {
              background: linear-gradient(#03effe, #4facfe);
            }
          }
        }
  
        &--rangeStart {
          background: linear-gradient(#03effe, #4facfe);
          border-radius: 5px;
        }
  
        &--rangeEnd {
          background: linear-gradient(#03effe, #4facfe);
          border-radius: 5px;
        }
      }
  
      &--selectRange {
        .react-calendar__tile {
          &--hover {
            background-color: #A2E9FA;
            color: #ffffff;
          }
        }
      }
    }
  }