.community-table,
.community-table-mobile {
  width: 100%;
  height: 100%;
  display: flex;
	flex-direction: column;
  user-select: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__total-info {
    font-family: 'Roboto', sans-serif;
		color: #2c2c2c;
		font-size: 20px;
		font-weight: bold;
		opacity: 0.6;
		text-align: left;
		margin-left: 50px;
		margin-bottom: 38px;
  }
  &__main {
    width: 100%;
    overflow-x: hidden;
    flex-grow: 1;
  }
}
.table-line, 
.table-line-mobile {
  min-height: 115px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0  0 40px #cad5da;
  margin: 20px 5%;

  &__ava {
    width: 78px;
    height: 78px;
    border-radius: 50%;
  }
  &__info {
    text-align: left;
    width: 18%;
    &__name {
      font-size: 20px;
      color: #2c2c2c;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
    }
    &__since {
      font-size: 17px;
      color: #7b8180;
      font-weight: 500;
    }
  }
  &__middle-block {
    border-left: 1px solid #6b6b6b30;
    border-right: 1px solid #6b6b6b30;
    &__num {
      margin-left: 10px;
    }
  }
  &__block, &__middle-block {
    width: 18%;
    display: flex;
    align-items: center;
    &__num {
      width: 25%;
      color: #2c2c2c;
      text-align: left;
      font-size: 30px;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
    }
    &__text {
      width: 75%;
      font-size: 16px;
      font-weight: 500;
      font-family: 'Raleway', sans-serif;
    }
  }
}
.table-line-mobile {
  flex-direction: column;
  align-items: center;
  &__ava {
    margin-top: 5px;
  }
  &__info {
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
  }
  &__middle-block {
    margin: 5px 0;
    &__num {
      margin: 0;
    }
  }
  &__bottom {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  &__block, &__middle-block {
    width: 100%;
    margin-left: 0.5rem;
  }
}
