.copyright {
  font-family: $fontFamilyCopyright;
  color: $colorCopyright;
  font-size: $fontSizeCopyright;

  .copyright__link {
    color: $colorCopyrightLink;
  }
}

.copyright_serach {
  color: $colorCopyrightSearchPage;

  .copyright__link {
    color: $colorCopyrightLinkSearchPage;
  }
}
