.dashboard-main, 
.dashboard-main-mobile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    position: relative;
}
.dash-copyright, 
.dash-copyright-mobile { 
    align-self: flex-start;
    padding: 0.5rem;
    padding-left: 8rem;
    margin-bottom: 4px;
}
.dash-copyright-mobile {
    display: none;
}
.info-block, 
.graph-block, 
.info-block-mobile, 
.graph-block-mobile {
    display: inline-flex;
    flex-direction: row;
    width: 95%;
}
.info-block, 
.info-block-mobile {
    margin: 1% 0; 
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    min-height: 20%;
    &__cell {
        max-width: 25%;
        display: inline-block;
        min-width: 320px;
        border-left: 1px solid #CAD5DA;
    }
}
.info-block-mobile {
    &__cell {
        width: 50%;
        min-width: 0;
        border-left: none;
    }
}
.graph-block, 
.graph-block-mobile {
    // margin-top: 3%;
    height: 70%;
    flex-grow: 1;
    &__cell {
        padding: 1rem;
        width: 47.5%;
        margin-right: 2.5%;
        margin-left: 1.25%;
        margin-top: 2%;
        margin-bottom: 0;
        border-radius: 5px;
        box-shadow: 0 0 40px #CAD5DA;
    }
    &__cell:first-child {
        margin-left: 2.5%;
        margin-right: 1.25%;
    }
}
.graph-block-mobile {
    flex-direction: column;
    width: 100%;
    &__cell {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-top: 5%;
        margin-bottom: 0;
    }
    &__cell:first-child {
        margin-left: 0;
        margin-right: 0;
    }
    &__cell:last-child {
        min-height: 70%;
    }
}
@media  (min-width: 778px) and (max-width: 1024px){
    .info-block {
        min-height: 20%;
        &__cell {
            max-width: 25%;
            min-width: 220px;
            border-left: none;
            // background: red;
        }
    }
}
@media  (min-width: 1024px) and (max-width: 1336px){
    .info-block {
        min-height: 20%;
        &__cell {
            max-width: 25%;
            min-width: 320px;
            border-left: 1px solid #CAD5DA;
            // background: blue;
        }
    }
    .graph-block {
        &__cell {
            margin-top: 2%;
        }
    }
}
@media  (min-width: 1336px) and (max-width: 1440px){
    .info-block {
        min-height: 20%;
        &__cell {
            max-width: 25%;
            min-width: 450px;
            border-left: 1px solid #CAD5DA;
            // background: green;
        }
    }
}
@media  (min-width: 1440px) and (max-width: 1610px){
    .info-block {
        min-height: 20%;
        &__cell {
            max-width: 25%;
            min-width: 500px;
            border-left: 1px solid #CAD5DA;
            // background: yellow;
        }
    }
}
@media  (min-width: 1610px) and (max-width: 1712px){
    .info-block {
        min-height: 20%;
        &__cell {
            max-width: 25%;
            min-width: 300px;
            border-left: 1px solid #CAD5DA;
            // background: magenta;
        }
    }
}
.info-block-mobile {
    &__cell {
        min-width: 40%;
    }
}
.info-card-title--adv--mob .num {
    font-size: 5rem;
}