.info-card {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.info-card-title,
.info-card-title--adv,
.info-card-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.info-card-title--adv .num,
.info-card-title--adv--mob .num {
    font-size: calc(3vw + 3vh);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}
.info-card-title--adv--mob  {
    display: inline-flex;
    flex-direction: column;
}
.info-card-title--adv--mob .num {
    font-size: 5rem;
    
}
.info-card-text--adv span,
.info-card-text--adv--mob span{
    font-size: calc(0.9vw + 0.9vh);
    font-family: 'Raleway', sans-serif;
    margin-left: 8px;
}
.info-card-text--adv--mob span {
    font-size: 1.5rem;
    
}
.info-card-text--adv {
    margin-left: 1%;
}
.info-card-dop {
    display: inline-block;
    margin-left: 8px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem; 

    &__line {
        display: block;
    }
    &__line span {
        line-height: 2.5rem;
        color: #7B8180;
        font-weight: 500;
    }
    &__line span:first-child {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        margin-right: 5px;
        font-size: 2rem;
        float: left;
    }
}
.info-card-title--adv--mob .info-card-dop{
    margin-left: 0.3rem;
    font-size: 1.2rem;
    display: flex;
    &__line {
        margin-right: 0.2rem;
    }
    &__line span:first-child {
        font-size: 1.4rem;
    }
}