.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.logo_sidebar {
  margin: 0;
  font-size: 40px;
}

.logo_auth {
  font-size: 11.8rem;
  line-height: 13.9rem;
}
