.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  
}

.logo_sidebar {
  position: relative;
  margin: 0;
  font-size: 2.4rem;
  margin-bottom: 3vh;
  overflow: hidden;
  transition: all 1s;

  .logo-btn {
    height: 100%;
    position: absolute;
    left: 1rem;
    top: 0;
  }
}

.logo_sidebar_minimized {
  margin-bottom: 6vh;
}

.logo_auth {
  font-size: 11.8rem;
  line-height: 13.9rem;
}

@media (min-width: 768px) {
  // .logo {
  //   font-family: "Raleway", sans-serif;
  //   font-weight: 700;
  //   color: #ffffff;
  //   text-transform: uppercase;
  //   text-align: center;
  // }
  
  .logo_sidebar {
    // margin: 0;
    font-size: 4rem;
    // margin-bottom: 3vh;
    // overflow: hidden;
    // transition: all 1s;
  }
  
  .logo_sidebar_minimized {
    margin-bottom: 6vh;
  }
  
  // .logo_auth {
  //   font-size: 11.8rem;
  //   line-height: 13.9rem;
  // }
}
