.logo {
  font-family: $fontFamilyLogo;
  font-weight: $fontWeightLogo;
  color: $colorLogo;
  text-transform: $textTransformLogo;
  text-align: $textAlignLogo;
}

.logo_sidebar {
  position: $positionLogoSidebar;
  font-size: $fontSizeLogoSidebar;
  margin: $marginLogoSidebar;
  overflow: hidden;
  transition: $transitionLogoSidebar;
}

.logo_sidebar_minimized {
  margin: $marginLogoSidebarMinimized;
}

.logo_auth {
  font-size: 11.8rem;
  line-height: 13.9rem;
}

@media screen and (min-width: $firstBreakpoint) {
  .logo_sidebar {
    font-size: $fontSizeLogoSidebarDesktop;
  }

  .logo_sidebar_minimized {
    margin-bottom: $fontSizeLogoSidebarDesktopMinimized;
  }
}
