.nav-list__item {
  list-style: none;
  margin: $marginNavListItem;

  .link-sidebar {
    text-decoration: none;
    color: $colorNavListItemLink;
    text-transform: $textTransformNavListItemLink;
    font-size: $fontSizeNavListItemLink;
    font-family: $fontFamilyNavListItemLink;
    font-weight: $fontWeightNavListItemLink;
    display: flex;
    align-items: center;
    padding: $paddingNavListItemLink;
    position: $positionNavListItemLink;

    .link-sidebar__profile {
      height: $heightNavListItemLinkProfile;
      width: $widthNavListItemLinkProfile;
      margin: 0 auto;
      color: $colorNavListItemLinkProfile;
    }

    .link-sidebar__text {
      opacity: 1;
    }

    &:hover:before {
      content: "";
      display: block;
      background: $backgroundNavListItemLinkHoverVerticalLineEnd;
      position: absolute;
      top: 0;
      right: 0;
      width: $widthNavListItemLinkHoverVerticalLineEnd;
      min-height: 100%;
    }

    &:hover {
      background: $backgroundNavListItemLinkHover;
    }

    &:hover .search-icon {
      fill: url(#search-icon);
      cursor: pointer;
    }

    &:hover .dashboard-icon {
      fill: url(#dashboard-icon);
      cursor: pointer;
    }

    &:hover .documents-icon {
      fill: url(#documents-icon);
      cursor: pointer;
    }

    &:hover .community-icon {
      fill: url(#community-icon);
      cursor: pointer;
    }
  }
  .icon {
    margin: $marginNavListItemIcon;
  }
  .active {
    color: $colorNavListItemLinkHover;
    background: $backgroundNavListItemLinkHover;
    &:before {
      content: "";
      display: block;
      background: $backgroundNavListItemLinkHoverVerticalLineEnd;
      position: absolute;
      top: 0;
      right: 0;
      width: $widthNavListItemLinkHoverVerticalLineEnd;
      min-height: 100%;
    }

    .search-icon {
      fill: url(#search-icon);
      cursor: pointer;
    }

    .dashboard-icon {
      fill: url(#dashboard-icon);
      cursor: pointer;
    }

    .documents-icon {
      fill: url(#documents-icon);
      cursor: pointer;
    }

    .community-icon {
      fill: url(#community-icon);
      cursor: pointer;
    }
  }
}

.nav-list__item:first-child {
  .link-sidebar {
    padding: $paddingNavListItemFirstChild;
    margin-bottom: $marginNavListItemFirstChild;
  }
}

@media screen and (min-width: $firstBreakpoint) {
  .nav-list__item {
    .link-sidebar {
      padding: $paddingNavListItemLinkDesktop;
      transition: $transitionNavListItemLinkDesktop;

      .link-sidebar__profile {
        height: $heightNavListItemLinkProfileDesktop;
        width: $widthNavListItemLinkProfileDesktop;
      }

      .link-sidebar__text {
        transition: $transitionNavListItemLinkTextDesktop;
      }
    }
  }

  .nav-list__item:first-child {
    .link-sidebar {
      margin: $marginNavListItemFirstChildDesktop;
    }
  }

  .nav-list__item_minimized {
    .link-sidebar {
      padding: $paddingNavListItemLinkDesktopMinimized;

      .link-sidebar__profile {
        height: $heightNavListItemLinkProfileDesktopMinimized;
        width: $widthNavListItemLinkProfileDesktopMinimized;
      }

      .link-sidebar__text {
        opacity: 0;
      }
    }
  }

  .nav-list__item_minimized:first-child {
    .link-sidebar {
      padding: $paddingNavListItemDesktopMinimized;
      margin: $marginNavListItemDesktopMinimized;
    }
  }
}
