.wrapper {
  width: $widthPageTemplateWrapper;
  height: $heightPageTemplateWrapper;

  .main {
    display: flex;
    flex-direction: column;
    height: $heightPageTemplateMain;

    .main__content {
      flex-grow: 1;
    }

    .container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}

@media screen and (min-width: $firstBreakpoint) {
  .wrapper {
    max-width: $maxWidthPageTemplateWrapperDesktop;
    margin: 0 auto;

    .main {
      flex-direction: row;
      max-height: $maxHeightPageTemplateMainDesktop;

      .container {
        width: $widthPageTemplateContainerDesktop;
        height: $heightPageTemplateContainerDesktop;
        flex-grow: 0;
      }
    }
  }
}
