.range-panel-wrapper {
  position: relative;
  user-select: none;
  display: inline-block;

  .range-panel-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    border: $borderRangePanelList;
    border-radius: $borderRadiusRangePanelList;
    padding: $paddingRangePanelList;

    .range-panel-list__item {
      list-style: none;

      .range-panel-list__link {
        display: inline-block;
        text-align: $textAlignRangePanelListLink;
        position: relative;
        text-decoration: none;
        z-index: 1;
        font-size: $fontSizeRangePanelListLink;
        min-width: $minWidthRangePanelListLink;
        padding: $paddingRangePanelListLink;
        font-family: $fontFamilyRangePanelListLink;
        font-weight: $fontWeightRangePanelListLink;
        color: $colorRangePanelListLink;
        border: $borderRangePanelListLink;
      }

      .range-panel-list__link_selected {
        font-weight: $fontWeightRangePanelListLinkSelected;
        color: $colorRangePanelListLinkSelected;

        &:before {
          content: "";
          display: block;
          position: absolute;
          background: $backgroundRangePanelListLinkSelected;
          border-radius: $borderRadiusRangePanelListLinkSelected;
          width: $widthRangePanelListLinkSelected;
          height: $heightRangePanelListLinkSelected;
          left: $leftRangePanelListLinkSelected;
          bottom: $bottomRangePanelListLinkSelected;
          z-index: -1;
        }
      }
    }
  }
}
