.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  height: $heightSidebar;
  width: $widthtSidebar;
  background: $backgroundColorSidebar;
  padding: $paddingSidebar;
  z-index: $zIndexSidebar;
}

.sidebar-wrapper_minimized_mobile {
  height: $heightSidebarMobileMinimized;
  background: $backgroundSidebarMobileMinimized;
}

@media screen and (min-width: $firstBreakpoint) {
  .sidebar-wrapper {
    height: $heightSidebarDesktop;
    width: $widthtSidebarDesktop;
    transition: $transitionSidebarDesktop;
  }

  .sidebar-wrapper_minimized {
    width: $widthSidebarDesktopMinimized;
  }
}
