.sidebar-wrapper {
  overflow: auto;
  height: 100%;
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 15px 0 0 0;
  background: linear-gradient(to top, #012724, #276763 75%, #489e98);
  // transition: all 1s;

  .top-content-wrapper {
    flex-grow: 20;
    display: flex;
    flex-direction: column;

    .logo-wrapper {
      flex-grow: 1;
    }

    .user-profile {
      flex-grow: 2;

      .profile {
        //temp
        height: 113px;
        max-width: 124px;
        border: 1px solid black;
        margin: 0 auto;
        // margin-bottom: 100px;
      }
    }

    .nav {
      flex-grow: 6;
    }
  }

  .social {
    // display: flex;
    // justify-content: center;
    // margin-bottom: 40px;
    display: inline-block;
    margin: 0 auto;
    flex-grow: 1;
  }

  .logout {
    text-align: center;
    .logout-btn {
      // display: block;
      width: 100%;
      background: none;
      color: rgba(255, 255, 255, 0.15);
      text-transform: uppercase;
      border: none;
      border-top: 1px solid #51726f;
      font-size: 15px;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      padding: 10px 0 10px;
      outline: none;

      &:hover {
        cursor: pointer;
        color: #37a5cf;
      }

      &:active {
        box-shadow: inset 0 0 5px #51726f;
      }
    }
  }
}

.sidebar-wrapper_minimized {
  width: 100px;
}
