.social-list {
  display: flex;
  justify-content: space-between;
  margin: $marginSocialList;
  padding: $paddingSocialList;

  .social-list-item {
    list-style: none;
    text-align: $textAlignSocialListItem;
  }
}

@media screen and (min-width: $firstBreakpoint) {
  .social-list {
    padding: $paddingSocialListDesktop;
    transition: $transitionSocialListDesktop;
  }

  .social-list_minimized {
    flex-direction: column;
    padding: 0;

    .social-list-item {
      margin: $marginSocialListItemDesktopMinimized;

      &:last-child {
        margin: 0;
      }
    }
  }
}
