.social-list {
  display: flex;
  justify-content: space-between;
  margin: 0 0 2rem 0;
  padding: 0 30vw 0;

  .social-list-item {
    list-style: none;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .social-list {
    padding: 0 11rem 0;
    transition: all 1s;
  }

  .social-list_minimized {
    flex-direction: column;
    padding: 0;

    .social-list-item {
      margin-bottom: 1rem;

      &:last-child {
        margin: 0;
      }
    }
  }
}
