@import "Button";

.auth-box__form{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-wrapper{
    width: 60%;
  }
}

.form-title {
  font-weight: 700;
  border-bottom: 1px solid #D7DDDC;
  margin-bottom: 2rem;

  &__link {
    color: #9FBCBA;
    display: inline-block;
    text-decoration: none;
    font-size: 1.7em;
    margin: 0 2rem;
    padding-bottom: 1rem;

    &:first-child {
      margin-left: 0;
    }

    &--active {
      color: #26BCB3;
      font-family: 'Raleway', sans-serif;
      border-bottom: 4px outset #26BCB3;
      text-decoration: none
    }
  }
}

.input-box{
  display: flex;
  flex-direction: column;

  &__label{
    color: #7B8180;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
  }

  &__input {
    background-color: transparent;
    border: 1px solid #CAD5DA;
    border-radius: 5px;
    color: black;
    outline: none;
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 1rem;
    padding: 1rem;

    &:last-child{
      margin-bottom: 30px;
    }
  }

  &__error {
    background-color: transparent;
    border: 1px solid red;
    border-radius: 5px;
    color: black;
    outline: none;
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 1rem;
    padding: 1rem;

    &:last-child{
      margin-bottom: 30px;
    }
  }
}

