.graph-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.graph-panel h3 {
  font-size: 1.5rem;
  margin: 0;
  // display: inline-block;
}
.graph-view {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  // display: inline-block;
}
.tr-doc-graph{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
