.graph-panel, .graph-panel-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.graph-panel-mobile {
  flex-direction: column;
}
.graph-panel h3, .graph-panel-mobile h3 {
  font-size: 2rem;
  font-weight: 600;
}
.graph-view, .graph-view-mobile {
  flex-grow: 1;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}
.tr-doc-graph{ 
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
