.circle-graph {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  overflow: hidden;
}
.graph-info, .graph-info ul {
  position: relative;
  // align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}
.graph-info {
  height: 50%;
  width: 40%;
  margin-right: 1%;
  border: 1px solid gray;
  border-bottom-right-radius:  20%;
  border-top-right-radius:  20%;
  padding-right: 5%;
  
}
.graph-info ul {
  align-self: stretch;
  padding-left: 2.5rem;
  width: 100%;
  height: 100%;
  
  display: block;

}
.sumText {
  font-weight: bold;
}
.line {
  // left: -1rem;
  font-size: 1.2rem;
  border-bottom: 2px dotted #CAD5DA;
  padding: 0.8em 0;
  width: 90%;
  // display: block;
  position: relative;
  margin-right: 0;
  &__text {
    color: #7B8180;
    // position: absolute;
  }
  &__num {
    color: #7B8180;
    position: absolute;
    font-weight: bold;
    right: 0;
  }
}
.line span {
  display: inline-block;
}
.line:last-child {
  border: none;
}
.testBtn {
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 23px;
  padding-right: 23px; 
}